* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0 !important;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: var(--black);
}

.p5Canvas, #defaultCanvas0 {
  padding: 10px;
}

.lovepic {
  position: absolute;
  top: 0;
}
