body {
  background: green;

  .testPng,
  .testSvg {
    width: 100px;
    height: 100px;
    background-size: cover;
  }

  .testPng {
    background-image: url('images/test.png');
  }

  .testSvg {
    background-image: url('images/test.svg');
  }
}
